DAILY_SAMPLE_ROOM_URL=https://yourdomain.daily.co/yourroom # (for joining the bot to the same room repeatedly for local dev)
# DAILY_API_KEY=7df...
OPENAI_API_KEY=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
CARTESIA_API_KEY=sk_car_f6GaMG0Ww1qXfgnhM7ECD
